@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .sobre-content{
        padding-bottom: 7rem;
        grid-template-columns: repeat(1,1fr);
        margin: 0 5rem;
    }
    .projetos-box{
        grid-template-columns: repeat(2,1fr);
    }
    .projetos-box img{
        min-width: 40vw; /* Aumentado para 40vw */
    }
}

@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .contato form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }
    
}

@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3px;
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px;
        border-bottom: 2px;
        display: none;
    }
    .navbar :active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
    }
    .home{
        flex-direction: column-reverse;
        margin: 3rem 3rem;
        gap: 1.8rem;
    }
    .home-content, .sobre-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .home-content h3, .sobre-content h3{
        font-size: 2rem;
    }
    .home-content h1, .sobre-content h1{
        font-size: 4rem;
        margin-top: 2rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
         font-size: 2rem;
    }
    .home-img img, .sobre-img img{
        width: 50vw;
        margin: 1rem 0; 
    }
    .sobre{
        flex-direction: column-reverse;
        margin: 3rem 3rem;
        gap: 2rem;
    }

    .sobre-content p {
        width: 100%; 
        margin: 0 auto;
        font-size: 1.8rem; 
        text-align: center; 
    }

    .sobre .heading{
        width: 50vw;
    }
    .projetos-box{
        grid-template-columns: repeat(1,1fr);
    }
    .projetos-box img{
        min-width: 45rem; 
    }
}

@media screen and (max-width: 768px){
    .btn-whatsapp{
        imag{
            max-width: 60px;
        }
    }

    .projetos-box img{
        min-width: 55vw; 
    }
}
