.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 10% 2rem;
  background: $primary-normal;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between; /* Mantém espaço entre logo e language selector */
  align-items: center;
  z-index: 100;
  width: 100%;
}

/* Certifica que o language selector é flex */
.sellang {
  display: flex;
  align-items: center; /* centraliza verticalmente */
}


/* Logo */
.logo {
  font-size: 3rem;
  color: $white-normal;
  font-weight: 800;
  cursor: pointer;
  transition: 0.2s ease;
}
.logo:hover {
  transform: scale(1.1);
}
.logo span {
  text-shadow: 0 0 25px $primary-dark;
}

/* Navbar */
.navbar {
  display: flex;
  gap: 4rem;
}
.navbar a {
  font-size: 1.8rem;
  color: $white-dark;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
  color: $primary-dark;
  border-bottom: 3px solid $primary-dark;
}

/* Language selector container */
.sellang {
  display: flex;
  align-items: center;
}

/* Language selector */
.language-selector {
  position: relative;
  width: 120px;
  cursor: pointer;
  font-size: 1.4rem;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 5px;
  background: #0B2E63;
  color: #fff;
}

/* Dropdown */
.options {
  display: none;
  position: absolute;
  top: 120%; /* Fica logo abaixo do selecionado */
  right: 0; /* Alinhado à direita */
  width: 100%;
  background: #0B2E63;
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
  z-index: 10;
}

.options div {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.options div:hover {
  background: #07406e;
}

.language-selector.active .options {
  display: flex;
}
